<form ng-submit="save()" name="membersEdit">
    <div class="modal-header">
        <h3 class="modal-title"><i class="fa fa-pencil"></i> Edit member </h3>
    </div>
    <div class="modal-body">
        <div class="form-group" ng-class="{'has-error': !membersEdit.first_name.$valid}">
            <label for="first_name" class="control-label">First Name</label>
            <input type="text" name="first_name" ng-model="member.first_name" class="form-control" required/>
        </div>
        <div class="form-group" ng-class="{'has-error': !membersEdit.last_name.$valid}">
            <label for="last_name" class="control-label">Last Name</label>
            <input type="text" name="last_name" ng-model="member.last_name" class="form-control" required/>
        </div>
        <div class="form-group">
            <label for="phone" class="control-label">Phone</label>
            <input type="text" name="phone" ng-model="member.phone" class="form-control"/>
        </div>
        <hr/>
        <div class="btn-group pull-left">
            <!--style="color: #{{ member.active ? '47A447' : 'ED9C28' }};"-->
            <label class="btn btn-default">Active</label>
            <label class="btn btn-success" ng-class="{bold: member.active}" ng-model="member.active" btn-radio="1" uncheckable>
                <i ng-class="{'fa fa-check-circle-o': member.active, 'fa fa-circle-o': !member.active}"></i> Yes
            </label>
            <label class="btn btn-warning" ng-class="{bold: !member.active}" ng-model="member.active" btn-radio="0" uncheckable>
                <i ng-class="{'fa fa-circle-o': member.active, 'fa fa-check-circle-o': !member.active}"></i> No
            </label>
        </div>
        <div class="btn-group pull-right">
            <label class="btn btn-default">Free of charge</label>
            <label class="btn btn-success" ng-class="{bold: member.freeOfCharge}" ng-model="member.freeOfCharge" btn-radio="1" uncheckable>
                <i ng-class="{'fa fa-check-circle-o': member.freeOfCharge, 'fa fa-circle-o': !member.freeOfCharge}"></i> Yes
            </label>
            <label class="btn btn-warning" ng-class="{bold: !member.freeOfCharge}" ng-model="member.freeOfCharge" btn-radio="0" uncheckable>
                <i ng-class="{'fa fa-circle-o': member.freeOfCharge, 'fa fa-check-circle-o': !member.freeOfCharge}"></i> No
            </label>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="modal-footer">
        <span ng-show="!membersEdit.$valid" class="pull-left text-danger">
            <i class="fa fa-warning"></i>
            Check form for errors
        </span>
        <button class="btn btn-primary" type="submit"><i class="fa fa-save"></i> Save</button>
        <a class="btn btn-warning" ng-click="cancel()">Cancel</a>
    </div>
</form>